/venv
/.idea
/src/data
/src/modelEigenFace.xml
#/src/database/student_registration.db
# For pychache
/src/core/__pycache__
/src/core/barcode/__pycache__
/src/core/date/__pycache__
/src/core/model/__pycache__
/src/core/webscraping/__pycache__
/src/database/__pycache__
/src/database/tables/__pycache__


